body {
    background: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
}

.glow-border {
    background-color: #40c9ff;
    color: #fff;
    position: absolute;
    right: 0.5%;
    top: 2%;
    font-size: 1em;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #40c9ff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px #40c9ff;
    transition: box-shadow 0.3s;
}

.glow-border:hover {
    background-color: #40c9ff;
    box-shadow: 0 0 20px #40c9ff;
}
